

canvas{
    display:block;
    margin:5% auto;
	}

canvas#game{
    border: 2px solid red;
    display:block;
    margin:5% auto;
    width:1200px;
    height:800px;
	}

.uno{
	position: absolute;
	top: 2%;
	left: 13.6%;
	width: 1200px;
	height: 800px;

	}